
*{
    box-sizing: border-box;
    
}

p{
    word-spacing: 20px;
}
b{
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    
    width: 8px;
}
input{
    width: 80%;
    padding: 10px;
}
.container{ 
    background-color:azure;
    margin: 50px;
    padding: 23px 0 23px 85px;
     border-left:2px;
     width: 550px;
}

.card-logos1 img{

width: 30px;
height:auto ;
position: absolute;
bottom:px;
margin-left:5px;
margin-top:5px;
}
    

button{
    width:80%;
    padding: 10px;

}
.one-line{
    display:flex;
    width: 85.5%;
    
    }
    p{
        margin-left: 120px;
    }
    
    h1{
    margin-left: 135px;
    }

    