*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10vh auto;
}
.box h1{
    margin: 10px;
}
.p-option{
    display: flex;
    
}
.p-option p{
    padding: 15px;
    margin: 8px;
   
}
.Payment{
    border-bottom: 2px solid black;
}
.s-cards{
    width: 80%;
}
.s-cards  >p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.s-cards img{

width: 35px;
margin: 2px 10px;
}
.master{
    width: 30px;
    margin: 9px !important;
}
.c-type{
    display: flex;
    width: 100%;
    justify-content: start;
    margin-top: 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.068);
}
.c-type .number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;  
}
.c-type .number .n{
    margin-right: 55px;
}
.new-cards{
    margin-top: 10px;
    width: 80%;
}
.new-cards >p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.068);
}
.name-section .p-name{
    font-size: 10px;
}
.name-section .name{
    font-size: 15px;
}
.c-number{
    display: flex;

}
.c-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.068);
}

.exp{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: start;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px;
   
    font-family: Arial, Helvetica, sans-serif;
justify-content: center;
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.068);
}
.cvv{
    display: flex;
    flex-direction: column;
    width:15%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 10px;
    font-size:11px; 

    background-color: rgba(0, 0, 0, 0.068);
}
.c-name{
    font-size: 10px;
}
.add{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    color:white;
  margin: 25px;
  background-color: rgb(5, 44, 216);
    width: 80%;
    padding: 10px;

}